
body{
background:url("https://images.unsplash.com/photo-1572541859037-2d4c68076e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
background-repeat: no-repeat;
background-size:cover;

}

.nav{
    background-color:#171614;
    color:white;
    font-size:20px;
}

hr{
    background-color:black;
}

a,a:hover{
color:#171614

}
.active{

color:white;

width:fit-content;
}
.active a,a:hover{

color:white;
width:fit-content;

}

.active a:hover{
color:black;
}
.title{
text-align:center;
letter-spacing:10px;
 margin-top:200px;
 width:100%;
 font-size:40px;
 margin-bottom:50px;
 color:green;

}

.row.username{
    width:100%;
}
.sign-in{
text-align:center;
}
label{
font-size:x-large;
}

.sign-in input{
width:250px;
height:30px;
}
.row.indexButton{

    width:100%;

}
.create{
margin:auto;

}
.create .btn{
margin-right:30px;

}
.background{background-color:lightgrey;
border-radius:5px;
margin-left:300px;
margin-right:300px;
}
#size{background-color:lightgrey;
color:black;
border-radius:5px;
 }
#color{color:white;}
.form input{
width:400px;
margin-bottom:30px;
}
.form-class{
width:fit-content;
margin:auto;
border:2px solid #bf675b;
padding-left:100px;
padding-right:100px;
padding-bottom:20px;
padding-top:20px;
margin-top:50px;
}